/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  :root {
    --accent-color: #ff0070;
    --primary-color: #DB00FF;
    --secondary-color: #000028;
    --text-color: #F1B2CE;
    --font-size-base: 18px;
    --font-main: "IBM Plex Mono", sans-serif;
    --bg-color: var(--secondary-color);
  }

}