
.page.theme_light {
  --accent-color: #FF8DCB;
  --primary-color: #FFC2E6;
  --secondary-color: #FFF1F7;
  --text-color: #353430;
  --box-shadow: #FF0070;
  --bg-color: var(--secondary-color);
  --font-size-base: 18px;
  --font-main: "IBM Plex Mono", sans-serif;
  --hover-color: rgba(50, 49, 45, 0.4);
  --bg-image: url(../images/cover-image-light.png);


  /* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

  .header {
    background-image: var(--bg-image);
  }

  .header::after {
    display: none;
  }

  .decorated-zone::before {
    background-image: url("../images/Rectangle 78.png");
  }

  .header__theme-menu::after {
    background-image: url("../images/Rectangle 78.png");
  }

  .header__theme-menu-button {
    color: var(--text-color);
    border: 1px solid var(--hover-color);
  }

  .table__of-contents {
    color: var(--primary-color);
    text-shadow: 4px 4px 0 var(--box-shadow);
  }

  .title__decor {
    color: var(--text-color);
    background-color: var(--accent-color);
  }

  .content {
    background-color: var(--bg-color);;
    color: var(--text-color);
  }

  .hard__concentrate-questuion {
    color: var(--text-color);
  }

  .content__link {
    text-shadow: 4px 4px 0 var(--box-shadow);
  }

  .content__link:focus {
    outline: 1px solid var(--text-color);
  }

  .decreased__attention-question {
    color: var(--text-color);
  }

  .advice__simple-better {
    color: var(--text-color);
  }

  .content__footer::before {
    background-image: url("../images/Rectangle 78.png");
  }

  .content__footer::after {
    background-image: url("../images/Rectangle 77.png"); /*тут почему-то не работают псевдоэлементы*/
  }

  .ending {
    text-shadow: 4px 4px 0 var(--box-shadow);
  }
}

/*@media (max-width: 768px) {*/
/*  .header {*/
/*    min-height: 1024px;*/
/*    max-width: 768px;*/
/*  }*/

/*  .header::after {*/
/*    content: '';*/
/*    background-image: url(../images/Лампочка.png);*/
/*    background-size: cover;*/
/*    position: absolute;*/
/*    Width: 52px;*/
/*    Height: 26px;*/
/*    Top: 20px;*/
/*    Left: 687px;*/
/*  }*/

/*  .idiom {*/
/*    position: absolute;*/
/*    right: 20px;*/
/*    max-width: 364px;*/
/*  }*/

/*  .text__idiom {*/
/*    text-align: center;*/
/*    display: contents;*/
/*  }*/

/*  .decorated-zone::before {*/
/*    content: '';*/
/*    background-image: url("../images/Rectangle 79.png");*/
/*    background-size: cover;*/
/*    position: absolute;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    opacity: 1;*/
/*    top: 20px;*/
/*    left: 723px;*/
/*    border-top-width: 1px;*/
/*    border-right-width: 1px;*/
/*    transform: scale(-1);*/
/*  }*/

/*  .header__theme-menu {*/
/*    display: flex;*/
/*  }*/
/*}*/

/*.header__theme-menu::after {*/
/*  content: '';*/
/*  background-image: url("../images/Rectangle 79.png");*/
/*  background-size: cover;*/
/*  position: absolute;*/
/*  width: 25px;*/
/*  height: 25px;*/
/*  opacity: 1;*/
/*  top: 979px;*/
/*  left: 20px;*/
/*  border-bottom-width: 1px;*/
/*  border-left-width: 1px;*/
/*}*/

/*.header__theme-menu-list {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-between;*/
/*  max-width: 230px;*/
/*  margin: 0 auto;*/
/*  padding: 0;*/
/*  list-style: none;*/
/*}*/

/*.header__theme-menu-button {*/
/*  font-size: var(--font-size-base);*/
/*  color: var(--accent-color);*/
/*  background-color: inherit;*/
/*  border: 1px solid var(--accent-color);*/
/*  width: 70px;*/
/*  margin-block-start: 20px;*/
/*  letter-spacing: 1px;*/
/*}*/

/*.table__of-contents {*/
/*  font-family: var(--font-main);*/
/*  font-weight: 700;*/
/*  font-size: 157px;*/
/*  line-height: 83%;*/
/*  color: var(--primary-color);*/
/*  text-shadow: 4px 4px 0 var(--accent-color);*/
/*  width: 759px;*/
/*  height: 130px;*/
/*  margin-block: 273px 114px;*/
/*}*/

/*.table__of-contents::before {*/
/*  content: "";*/
/*}*/

/*.title__decor {*/
/*  font-family: var(--font-main);*/
/*  font-size: var(--font-size-base);*/
/*  color: #000028;*/
/*  background-color: var(--accent-color);*/
/*  font-weight: 700;*/
/*  line-height: 23px;*/
/*}*/

/*.content {*/
/*  background-color: #00183F;*/
/*/ s cvetom bg ne ponimayu / . font-family: var(--font-main);*/
/*  font-size: var(--font-size-base);*/
/*  color: var(--text-color);*/
/*  width: 1024px;*/
/*}*/

/*.content__quiestion {*/
/*  padding-block-start: 60px;*/
/*  padding-inline: 20px;*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 2fr;*/
/*  grid-template-rows: 1fr 1fr;*/
/*  height: 508px;*/
/*  font-family: var(--font-main);*/
/*  font-weight: 400;*/
/*  font-size: var(--font-size-base);*/
/*  line-height: 23px;*/
/*}*/

/*.hard__concentrate-questuion {*/
/*  color: var(--accent-color);*/
/*  grid-column: 1;*/
/*  grid-row: 1 / 3;*/
/*  font-size: var(--font-size-base);*/
/*  width: 315px;*/
/*  margin: 0;*/
/*}*/

/*.hard__concentrate-questuion__multidoph {*/
/*  max-width: 649px;*/
/*  margin: 0;*/
/*}*/

/*.hard__concentrate-multi {*/
/*  grid-column: 2;*/
/*  grid-row: 1;*/

/*}*/

/*.hard__concentrate-daphamine {*/
/*  grid-column: 2;*/
/*  grid-row: 2;*/
/*}*/

/*.hard__concentrate-content {*/
/*  font-family: var(--font-main);*/
/*  font-size: var(--font-size-base);*/
/*  line-height: 23px;*/
/*  margin-block: 10px 0px;*/
/*  width: 649px;*/
/*  height: 211px;*/
/*}*/

/*.content__link {*/
/*  color: inherit;*/
/*  text-shadow: 4px 4px 0 var(--accent-color);*/
/*  text-decoration: none;*/
/*  cursor: pointer;*/
/*}*/

/*.content__link:hover {*/
/*  text-decoration: underline;*/
/*}*/

/*.content__link:focus {*/
/*  outline: 1px solid var(--text-color);*/
/*}*/

/*.decreased__attention__table {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  gap: 20px;*/
/*  grid-column: span 3;*/
/*}*/

/*.decreased__attention-question {*/
/*  margin-block: 0px;*/
/*  width: 315px;*/
/*  height: 47px;*/
/*  font-size: var(--font-size-base);*/
/*  color: var(--accent-color);*/
/*}*/

/*.advice__simple-better {*/
/*  color: var(--accent-color);*/
/*  font-size: var(--font-main);*/
/*}*/

/*.content__advice {*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 2fr;*/
/*  gap: 20px;*/
/*  margin-inline-end: 20px;*/
/*}*/

/*.advice__simple-better {*/
/*  grid-column: 1;*/
/*}*/

/*.advice__simple-hard, .advice__simple-table {*/
/*  grid-column: 2;*/
/*}*/

/*.title__decor-transparency {*/
/*  font-weight: 400;*/
/*}*/

/*.advice__simple-table__yet {*/
/*  list-style-type: none;*/
/*}*/

/*.content__images-pictures {*/
/*  max-width: 100%;*/
/*}*/

/*.content__images-pics {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  grid-template-rows: repeat(3, 1fr);*/
/*  gap: 20px;*/
/*  max-height: 1091px;*/
/*  max-width: 1024px;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

/*.images__sunset {*/
/*  grid-column: 1 / 3;*/
/*  grid-row: 1 / 2;*/
/*  width: 649px;*/
/*  height: 260px;*/
/*  object-fit: cover;*/
/*  margin-inline-start: 20px;*/
/*}*/

/*.images__ice {*/
/*  grid-column: 3 / 4;*/
/*  grid-row: 1 / 3;*/
/*  width: 315px;*/
/*  height: 595px;*/
/*  object-fit: cover;*/
/*}*/

/*.images__books {*/
/*  grid-column: 2 / 3;*/
/*  grid-row: 2 / 3;*/
/*  width: 315px;*/
/*  height: 315px;*/
/*  object-fit: cover;*/
/*}*/

/*.images__tape {*/
/*  grid-column: 1 / 3;*/
/*  grid-row: 2 / 4;*/
/*  width: 315px;*/
/*  height: 768px;*/
/*  object-fit: cover;*/
/*  margin-inline-start: 20px;*/
/*}*/

/*.images__street {*/
/*  grid-column: 2 / 4;*/
/*  grid-row: 3 / 4;*/
/*  width: 649px;*/
/*  height: 428px;*/
/*  object-fit: cover;*/
/*}*/

/*.content__footer {*/
/*  min-height: 768px;*/
/*  max-width: 1024px;*/
/*  position: relative;*/
/*  background-color: #00183F;*/
/*  background-image: none;*/
/*}*/

/*.content__footer::after {*/
/*  content: '';*/
/*  background-image: url("../images/Rectangle 79.png");*/
/*  background-size: cover;*/
/*  position: absolute;*/
/*  width: 25px;*/
/*  height: 25px;*/
/*  opacity: 1;*/
/*  top: 723px;*/
/*  left: 20px;*/
/*  border-bottom-width: 1px;*/
/*  border-left-width: 1px;*/
/*}*/

/*.content__footer::before {*/
/*  content: '';*/
/*  background-image: url("../images/Rectangle 79.png");*/
/*  background-size: cover;*/
/*  position: absolute;*/
/*  width: 25px;*/
/*  height: 25px;*/
/*  opacity: 1;*/
/*  top: 20px;*/
/*  left: 979px;*/
/*  border-top-width: 1px;*/
/*  border-right-width: 1px;*/
/*  transform: scale(-1);*/
/*}*/

/*.ending {*/
/*  font-family: var(--font-main);*/
/*  font-weight: 700;*/
/*  font-size: 157px;*/
/*  line-height: 83%;*/
/*  color: var(--primary-color);*/
/*  text-shadow: 4px 4px 0 var(--accent-color);*/
/*  padding: 319px 277px;*/
/*}*/
}