
.page.theme_light {
  --accent-color: #FF8DCB;
  --primary-color: #FFC2E6;
  --secondary-color: #FFF1F7;
  --text-color: #353430;
  --box-shadow: #FF0070;
  --bg-color: var(--secondary-color);
  --font-size-base: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
  --font-main: "IBM Plex Mono", sans-serif;
  --hover-color: rgba(53, 52, 48, 0.4);
  --bg-image: url(../images/cover-image-light.png);
  --inline-section-padding: clamp(10px, 0.029rem + 2.54vw, 20px);
  --block-section-padding: clamp(50px, 1.336rem + 7.63vw, 80px);


  /* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

  .header {
    background-image: var(--bg-image);
  }

  .header::after {
    display: none;
  }

  .header__theme-menu-button {
    color: var(--text-color);
    border: 1px solid var(--text-color);
  }

  .header__theme-menu-button:hover {
    border-color: var(--hover-color);
  }

  .header__theme-menu-button:focus {
    border-bottom: 1px solid var(--text-color);
  }

  .decorated-zone::before {
    background-image: url("../images/Rectangle 78.png");
  }

  .header__theme-menu::after {
    background-image: url("../images/Rectangle 78.png");
  }

  .header__theme-menu-button {
    color: var(--text-color);
    border: 1px solid var(--hover-color);
  }

  .table__of-contents {
    color: var(--primary-color);
    text-shadow: 4px 4px 0 var(--box-shadow);
  }

  .title__decor {
    color: var(--text-color);
    background-color: var(--accent-color);
  }

  .content {
    background-color: var(--bg-color);;
    color: var(--text-color);
  }

  .hard__concentrate-questuion {
    color: var(--text-color);
  }

  .hard__concentrate-content {
    max-width: 649px;
  }

  .content__link {
    text-shadow: 4px 4px 0 var(--box-shadow);
  }

  .content__link:focus {
    outline: 1px solid var(--text-color);
  }

  .decreased__attention-question {
    color: var(--text-color);
  }

  .advice__simple-better {
    color: var(--text-color);
  }

  .content__footer::before {
    background-image: url("../images/Rectangle 78.png");
  }

  .content__footer::after {
    background-image: url("../images/Rectangle 77.png");
    display: block;
    transform: scale(-1);
  }

  .ending {
    text-shadow: 4px 4px 0 var(--box-shadow);
  }


  @media (min-width: 768px) and (max-height: 1024px) {
    .header {
      background-image: var(--bg-image);
    }

    .header::after {
      display: none;
    }

    .decorated-zone::before {
      background-image: url("../images/Rectangle 78.png");
    }

    .header__theme-menu::after {
      background-image: url("../images/Rectangle 78.png");
    }

    .header__theme-menu-button {
      color: var(--text-color);
      border: 1px solid var(--text-color);
    }

    .table__of-contents {
      font-size: 120px;
      color: var(--primary-color);
      text-shadow: 4px 4px 0 var(--accent-color);
    }

    .title__decor {
      font-family: var(--font-main);
      font-size: var(--font-size-base);
      color: #000028;
      background-color: var(--accent-color);
    }

    .content {
      padding: 20px 20px 0 20px;
      max-width: 768px;
    }

    .content__quiestion {
      padding-block-start: 40px;
    }

    .content__link {
      color: inherit;
      text-shadow: 4px 4px 0 var(--accent-color);
      text-decoration: none;
      cursor: pointer;
    }

    .content__link:hover {
      text-decoration: underline;
    }

    .content__link:focus {
      outline: 1px solid var(--text-color);
    }

    .decreased__attention {
      padding-block-start: 80px;
    }

    .title__decor-decreased {
      margin-block-end: 10px;
    }

    .title__decor-transparency {
      margin-block: 20px 10px;
    }

    .decreased__attention__table {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .decreased__attention-question {
      width: 236px;
      padding-block-end: 20px;
    }

    .advice__simple-better {
      color: var(--text-color);
      margin: 0;
    }

    .content__footer::before {
      top: 20px;
      left: 723px;
    }

    .content__footer::after {
      content: '';
      position: absolute;
      background-image: url("../images/Rectangle 78.png");
      top: 979px;
      left: 20px;
      width: 25px;
    }

    .ending {
      font-size: 120px;
      color: var(--primary-color);
      padding: 0;
      margin-block: 462px;
      text-align: center;
    }
  }

}