
.page.theme_light {
  --accent-color: #FF8DCB;
  --primary-color: #FFC2E6;
  --text-color: #353430;
  --secondary-color: #FFEEF6;
  --bg-color: var(--secondary-color);
  --font-size-base: 18px;
  --font-main: "IBM Plex Mono", sans-serif;
  
}

