/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

body{
  margin: 0;
}

.header{
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 768px;
  min-width: 1024px;
  position: relative;
}

.header::after{
  content: '';
  background-image: url(../images/Лампочка.png);
  background-size: cover;
  position: absolute;
  width: 52px;
  height: 26px;
  right: 20px;
  opacity: 1;
  top: 20px;
  left: 943px;
}
.idiom{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки равной ширины */
  gap: 10px;
}

.decorated-zone::before{
  content: '';
  background-image: url("../images/Rectangle 79.png");
  background-size: cover;
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 1;
  top: 20px;
  left: 979px;
  border-top-width: 1px;
  border-right-width: 1px;
  transform: scale(-1);
}

/*.decorated-zone::after{*/
/*  content: '';*/
/*  background-image: url("../images/Rectangle 79.png");*/
/*  background-size: cover;*/
/*  position: absolute;*/
/*  width: 25px; height: 25px;*/
/*  opacity: 1;*/
/*  top: 723px;*/
/*  left: 20px;*/
/*  border-bottom-width: 1px;*/
/*  border-left-width: 1px;*/
/*}*/

.header__theme-menu-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 230px;
  margin: 0 auto;
  padding: 0;
}

.header__theme-menu-button{
  font-size: var(--font-size-base);
  color: var(--accent-color);
  background-color: inherit;
  border: 1px solid var(--accent-color);
  width: 70px;
  margin-block-start: 20px;
  letter-spacing: 1px;
}

.table__of-contents{
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 157px;
  line-height: 83%;
  color: var(--primary-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  width: 759px;
  height: 130px;
  margin-block: 273px 114px ;
}

.title__decor{
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  color: #000028;
  background-color: var(--accent-color);
  font-weight: 700;
  max-width:491px;
  line-height: 23px;
}

.content{
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  color:var(--text-color);
  width: 1024px;
}

.content__quiestion{
  padding-block-start: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  height: 508px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: 23px;
}

.hard_concentrate-questuion{
  color:var(--accent-color);
  grid-column: 1;
  grid-row: 1 / 3;
  font-size: var(--font-size-base);
  width: 315px;
}

.hard__concentrate-multi{
  grid-column: 2;
  grid-row: 1;

}

.hard__concentrate-daphamine{
  grid-column: 2;
  grid-row: 2;
}