/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url("../images/cover-image-light.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-main);
}

.header {
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-block-end: clamp(1.938rem, -4.444rem + 27.226vw, 8.625rem);
  padding-inline: var(--inline-section-padding);
  max-width: 1440px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone__item {
  content: "REC";
  position: absolute;
  display: inline-block;
  color: var(--accent-color, #ff0070);
  font-size: 18px;
  line-height: 25px;
  inset-block-start: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  inset-inline-end: clamp(2.375rem, 1.779rem + 2.54vw, 3rem);
}

.decorated-zone__item::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  filter: drop-shadow(0px 0px 4px var(--accent-color, #ff0070));
  block-size: 9px;
  inline-size: 9px;
  inset-inline-end: -20px;
  inset-block-start: 9px;
}

.decorated-zone::before,
.decorated-zone::after {
  --inset-value: var(
    --inline-section-padding,
    clamp(10px, 0.029rem + 2.54vw, 20px)
  );
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
  inset-block-start: var(--inset-value);
  inset-inline-end: var(--inset-value);
}

.decorated-zone::after {
  border-bottom: 1px solid var(--accent-color, #ff0070);
  border-left: 1px solid var(--accent-color, #ff0070);
  inset-block-end: var(--inset-value);
  inset-inline-start: var(--inset-value);
}

.header__theme-menu {
  display: flex;
  padding-block-start: 20px;
}

.header__theme-menu-button {
  font-size: var(--font-size-base);
  color: var(--accent-color);
  cursor: pointer;
  background-color: inherit;
  border: 1px solid var(--accent-color);
  width: 70px;
  letter-spacing: 0.5px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.table__of-contents {
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  color: var(--primary-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block: 273px 114px;
}

.idiom {
  display: flex;
  max-width: 491px;
  margin-left: auto;
  box-sizing: border-box;
}

.title__decor {
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  line-height: 23px;
}

.content {
  background-color: var(--bg-color);
  font-size: var(--font-size-base);
  color: var(--text-color);
  line-height: 23px;
  padding-inline: clamp(0.625rem, 0.029rem + 2.545vw, 1.25rem);
}

.content__padding-start {
  padding-block-start: clamp(2.5rem, 1.307rem + 5.089vw, 3.75rem);
}

.content__padding {
  padding-block-end: var(--block-section-padding);
}

.content__quiestion {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: var(--font-size-base);
  line-height: 23px;
  gap: 20px;
}

.hard__concentrate-questuion {
  color: var(--accent-color);
  grid-column: 1;
  grid-row: 1 / 3;
  font-size: var(--font-size-base);
}

.hard__concentrate-questuion__multidoph {
  margin: 0;
}

.hard__concentrate-multi {
  grid-column: 2;
  grid-row: 1;

}

.hard__concentrate-daphamine {
  grid-column: 2;
  grid-row: 2;
}

.hard__concentrate-content {
  font-size: var(--font-size-base);
  line-height: 23px;
  margin-block: 10px 0;
}

.content__link {
  color: inherit;
  text-shadow: 4px 4px 0 var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.content__link:hover {
  text-decoration: underline;
}

.content__link:focus {
  outline: 1px solid var(--text-color);
}

.decreased__attention {
}

.title__decor-decreased {
  margin-block-end: 10px;
}

.title__decor-transparency {
  margin-block: 20px 10px;
}

.decreased__attention__table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-column: span 3;
}

.decreased__attention-question {
  font-size: var(--font-size-base);
  color: var(--accent-color);
}

.advice__simple {
}

.advice__simple-better {
  color: var(--accent-color);
  font-size: var(--font-main);
}

.content__advice {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.advice__simple-better {
  grid-column: 1;
}

.title__decor-transparency {
  font-weight: 400;
}

.advice__simple-table__yet {
  list-style-type: none;
  padding-inline-start: 0;
}

.content__images-pictures {
  max-width: 100%;
}

.content__images-pics {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "sunset sunset ice"
    "tape books ice"
    "tape street street";
  gap: 20px;
  box-sizing: border-box;
  padding-block-start: 20px;
}

.images__size {
  max-inline-size: 100%;
  min-block-size: 100%;
}

.images__sunset {
  grid-area: sunset;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  object-fit: cover;
}

.images__ice {
  grid-area: ice;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  object-fit: cover;
}

.images__books {
  grid-area: books;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  object-fit: cover;
}

.images__tape {
  grid-area: tape;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  object-fit: cover;
}

.images__street {
  grid-area: street;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  object-fit: cover;
}

.content__footer {

}

.ending {
  background-color: var(--bg-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 4.805rem + 10.433vw, 9.813rem);
  line-height: 83%;
  color: var(--primary-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-align: center;
  padding-block: clamp(17.875rem, 7.319rem + 45.038vw, 28.938rem);
}

@media (max-width: 768px) {

  .idiom {
    max-width: 364px;
    height: 117px;
    top: 81px;
    left: 384px;
  }

  .text__idiom {
    text-align: center;
    display: contents;
    white-space: pre-line;
  }

  .header__theme-menu {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 161px;
  }

  .header__theme-menu-button {
    height: 26px;
    font-size: var(--font-size-base);
    color: var(--accent-color);
    background-color: inherit;
    border: 1px solid var(--accent-color);
    margin-block-start: 10px;
    letter-spacing: 1px;
  }


  .table__of-contents::before {
    content: "";
  }

  .title__decor {
    font-size: var(--font-size-base);
    color: #000028;
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 23px;
  }

  .hard__concentrate-questuion {
    color: var(--accent-color);
    grid-column: 1;
    grid-row: 1 / 3;
    font-size: var(--font-size-base);
    margin: 0;
  }

  .hard__concentrate-questuion__multidoph {
    max-width: 649px;
    margin: 0;
  }

  .hard__concentrate-multi {
    grid-column: 2;
    grid-row: 1;

  }

  .hard__concentrate-daphamine {
    grid-column: 2;
    grid-row: 2;
  }

  .hard__concentrate-content {
    font-size: var(--font-size-base);
    line-height: 23px;
    margin-block: 10px 0;
    max-width: 649px;
  }

  .content__link {
    color: inherit;
    text-shadow: 4px 4px 0 var(--accent-color);
    text-decoration: none;
    cursor: pointer;
  }

  .content__link:hover {
    text-decoration: underline;
  }

  .content__link:focus {
    outline: 1px solid var(--text-color);
  }

  .decreased__attention {
    padding-block-start: 80px;
  }

  .title__decor-decreased {
    margin-block-end: 10px;
  }

  .title__decor-transparency {
    margin-block: 20px 10px;
  }

  .decreased__attention__table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .decreased__attention-question {
    width: 236px;
    padding-block-end: 20px;
  }

  .advice__simple-better {
    color: var(--accent-color);
    font-size: var(--font-main);
  }

  .content__advice {
    padding-block-start: 80px;
  }

  .advice__simple-better {
    grid-column: 1;
  }

  .title__decor-transparency {
    font-weight: 400;
  }

  .advice__simple-table__yet {
    list-style-type: none;
    padding-inline-start: 0;
  }

  .content__images {
    margin-top: 80px;
  }

  .content__images-pictures {
    margin-inline: 0;
  }

  .content__images-pics {
    padding-inline: 0;
  }

  .content__footer {
    background-color: var(--bg-color);
    padding-block-start: 80px;
    max-width: 768px
  }
}

@media (max-width: 375px) {

  .header::after {
    Top: 10px;
    Left: 304px;
  }

  .idiom {
    max-width: 355px;
    height: 117px;
    margin: 112px 10px 0;
    right: 0;
  }

  .text__idiom {
    text-align: center;
    display: contents;
    white-space: pre-line;
  }

  .decorated-zone::before {
    top: 10px;
    left: 340px;
  }

  .header {
    min-height: 668px;
  }

  .header__theme-menu {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding: 10px 10px 0 10px;
  }

  .header__theme-menu::after {
    top: 633px;
    left: 10px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 56px;
  }

  .header__theme-menu-button {
    margin-block-start: 10px;
  }

  .content__quiestion {
    padding-inline: 10px;
    padding-block-start: 40px;
    display: block;
  }

  .hard__concentrate-questuion__multidoph {
    margin-block-start: 20px;
  }

  .hard__concentrate-content {
    max-height: 398px;
  }

  .content__quiestion {
    max-height: none;
  }

  .decreased__attention__table {
    display: block;
  }

  .decreased__attention-question {
    padding-block-start: 10px;
  }

  .title__decor-decreased {
    margin-block: 20px 10px;
  }

  .content__advice {
    display: block;
    margin-inline: 10px;
  }

  .advice__simple-better {
    margin-block: 50px 20px;
  }

  .content__images {
    margin-top: 50px;
  }

  .content__images-pictures {
    margin-inline: 10px;
  }

  .content__images-pics {
    display: block;
    padding-inline: 10px;
    max-height: 1400px;
  }

  .content__footer {
    background-color: var(--bg-color);
    max-width: 375px;
  }

  .content__footer::before {
    top: 10px;
    left: 340px;
    margin-block-start: 40px;
  }

  .content__footer::after {
    top: 632px;
    left: 10px;
  }

}