/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url("../images/cover-image-light.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-main);
}

.header {
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  max-width: 1440px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  background-image: url("../images/Rectangle 79.png");
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 1;
  top: 20px;
  left: 979px;
  transform: scale(-1);
}

.decorated-zone::after {
  content: "";
  background-image: url("../images/Rectangle 79.png");
  width: 25px;
  height: 25px;
}

.decorated-zone__item::before {
  content: "REC";
  color: var(--accent-color);
  position: relative;
  top: 24px;
  left: 920px;
  font-size: var(--font-size-base);
  font-family: var(--font-main);
}

.decorated-zone__item::after {
  content: "";
  position: absolute;
  background-image: url("../images/Лампочка.png");
  width: 25px;
  height: 25px;
  top: 22px;
  left: 980px;
  background-repeat: no-repeat;
}

.header__theme-menu {
  display: flex;
}

.header__theme-menu-button {
  font-size: var(--font-size-base);
  font-family: var(--font-main);
  color: var(--accent-color);
  cursor: pointer;
  background-color: inherit;
  border: 1px solid var(--accent-color);
  width: 70px;
  letter-spacing: 0.5px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.table__of-contents {
  font-weight: 700;
  font-size: 157px;
  line-height: 83%;
  color: var(--primary-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block: 273px 114px;
}

.idiom {
  display: flex;
  max-width: 491px;
  height: 71px;
  margin-left: auto;
  margin-block-end: 89px;
  box-sizing: border-box;
}

.title__decor {
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  line-height: 23px;
}

.content {
  background-color: var(--bg-color);
  font-size: var(--font-size-base);
  color: var(--text-color);
  line-height: 23px;
  padding-inline: 20px;
  max-width: 1440px;
}

.content__quiestion {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: var(--font-size-base);
  line-height: 23px;
  gap: 20px;
  padding-block-start: 60px;
}

.hard__concentrate-questuion {
  color: var(--accent-color);
  grid-column: 1;
  grid-row: 1 / 3;
  font-size: var(--font-size-base);
}

.hard__concentrate-questuion__multidoph {
  max-width: 649px;
  margin: 0;
}

.hard__concentrate-multi {
  grid-column: 2;
  grid-row: 1;

}

.hard__concentrate-daphamine {
  grid-column: 2;
  grid-row: 2;
}

.hard__concentrate-content {
  font-size: var(--font-size-base);
  line-height: 23px;
  margin-block: 10px 0;
  max-width: 649px;
  max-height: 211px;
}

.content__link {
  color: inherit;
  text-shadow: 4px 4px 0 var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.content__link:hover {
  text-decoration: underline;
}

.content__link:focus {
  outline: 1px solid var(--text-color);
}

.decreased__attention {
  padding-block-start: 80px;
}

.title__decor-decreased {
  margin-block-end: 10px;
}

.title__decor-transparency {
  margin-block: 20px 10px;
}

.decreased__attention__table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-column: span 3;
}

.decreased__attention-question {
  width: 315px;
  height: 47px;
  font-size: var(--font-size-base);
  color: var(--accent-color);
}

.advice__simple {
  padding-block-start: 80px;
}

.advice__simple-better {
  color: var(--accent-color);
  font-size: var(--font-main);
}

.content__advice {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.advice__simple-better {
  grid-column: 1;
}

.title__decor-transparency {
  font-weight: 400;
}

.advice__simple-table__yet {
  list-style-type: none;
  padding-inline-start: 0px;
}

.content__images {
  margin-top: 80px;
}

.content__images-pictures {
  max-width: 100%;
  margin-inline: 20px;
}


.content__images-pics {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "sunset sunset ice"
    "tape books ice"
    "tape street street";
  gap: 20px;
  max-height: 1091px;
  max-width: 1024px;
  box-sizing: border-box;
  padding-block-start: 20px;
}


.images__sunset {
  grid-area: sunset;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  width: 649px;
  height: 260px;
  object-fit: cover;
}

.images__ice {
  grid-area: ice;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  width: 315px;
  height: 595px;
  object-fit: cover;
}

.images__books {
  grid-area: books;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 315px;
  height: 315px;
  object-fit: cover;
}

.images__tape {
  grid-area: tape;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  width: 315px;
  height: 768px;
  object-fit: cover;
}

.images__street {
  grid-area: street;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  width: 649px;
  height: 428px;
  object-fit: cover;
}

.content__footer {
  max-width: 1440px;
  position: relative;
  background-image: none;
  padding: 0;
}

.content__footer::after {
  content: '';
  background-image: url("../images/Rectangle 79.png");
  background-size: cover;
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 1;
  top: 723px;
  left: 20px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.content__footer::before {
  content: '';
  background-image: url("../images/Rectangle 79.png");
  background-size: cover;
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 1;
  top: 20px;
  left: 979px;
  border-top-width: 1px;
  border-right-width: 1px;
  transform: scale(-1);
}

.ending {
  background-color: var(--bg-color);
  font-weight: 700;
  font-size: 157px;
  line-height: 83%;
  color: var(--primary-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding: 319px 277px;
  margin-block: 0;
}

@media (max-width: 768px) {


  .header::after {
    content: '';
    background-image: url(../images/Лампочка.png);
    background-size: cover;
    position: absolute;
    max-width: 52px;
    max-height: 26px;
    Top: 20px;
    Left: 687px;
  }

  .idiom {
    max-width: 364px;
    height: 117px;
    position: relative;
    top: 81px;
    left: 384px;
  }

  .text__idiom {
    text-align: center;
    display: contents;
    white-space: pre-line;
  }

  .header__theme-menu {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 161px;
  }

  .header__theme-menu-button {
    height: 26px;
    font-size: var(--font-size-base);
    color: var(--accent-color);
    background-color: inherit;
    border: 1px solid var(--accent-color);
    margin-block-start: 10px;
    letter-spacing: 1px;
  }


  .table__of-contents::before {
    content: "";
  }

  .title__decor {
    font-size: var(--font-size-base);
    color: #000028;
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 23px;
  }

  .content {
    padding: 20px 20px 0 20px;
    max-width: 768px;
  }

  .content__quiestion {
    padding: 0;
  }

  .hard__concentrate-questuion {
    color: var(--accent-color);
    grid-column: 1;
    grid-row: 1 / 3;
    font-size: var(--font-size-base);
    margin: 0;
  }

  .hard__concentrate-questuion__multidoph {
    max-width: 649px;
    margin: 0;
  }

  .hard__concentrate-multi {
    grid-column: 2;
    grid-row: 1;

  }

  .hard__concentrate-daphamine {
    grid-column: 2;
    grid-row: 2;
  }

  .hard__concentrate-content {
    font-size: var(--font-size-base);
    line-height: 23px;
    margin-block: 10px 0;
    max-width: 649px;
  }

  .content__link {
    color: inherit;
    text-shadow: 4px 4px 0 var(--accent-color);
    text-decoration: none;
    cursor: pointer;
  }

  .content__link:hover {
    text-decoration: underline;
  }

  .content__link:focus {
    outline: 1px solid var(--text-color);
  }

  .decreased__attention {
    padding-block-start: 80px;
  }

  .title__decor-decreased {
    margin-block-end: 10px;
  }

  .title__decor-transparency {
    margin-block: 20px 10px;
  }

  .decreased__attention__table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .decreased__attention-question {
    width: 236px;
    padding-block-end: 20px;
  }

  .advice__simple-better {
    color: var(--accent-color);
    font-size: var(--font-main);
  }

  .content__advice {
    padding-block-start: 80px;
  }

  .advice__simple-better {
    grid-column: 1;
  }

  .title__decor-transparency {
    font-weight: 400;
  }

  .advice__simple-table__yet {
    list-style-type: none;
    padding-inline-start: 0px;
  }

  .content__images {
    margin-top: 80px;
  }

  .content__images-pictures {
    margin-inline: 0;
  }


  .content__images-pics {
    padding-inline: 0;

  }

  .images__sunset {
    width: 479px;
    height: 192px;
  }

  .images__ice {
    width: 229px;
    height: 441px;
  }

  .images__books {
    width: 230px;
    height: 230px;
  }

  .images__tape {
    width: 229px;
    height: 568px;
  }

  .images__street {
    width: 479px;
    height: 318px;
  }

  .content__footer {
    background-color: var(--bg-color);
    padding-block-start: 80px;
    max-width: 768px
  }


  .content__footer::before {
    top: 20px;
    left: 723px;
  }

  .content__footer::after {
    content: "";
    display: inline;
    position: absolute;
    background-image: url("../images/Rectangle 79.png");
    top: 979px;
    left: 20px;
    width: 25px;
  }

  .ending {
    font-size: 120px;
    color: var(--primary-color);
    padding: 0;
    margin-block: 462px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .table__of-contents {
    font-size: 116px;
    margin: 129px 10px 0 10px;
    letter-spacing: 11px;
  }

  .header::after {
    Top: 10px;
    Left: 304px;
  }

  .idiom {
    max-width: 355px;
    height: 117px;
    margin: 112px 10px 0;
    right: 0;
  }

  .text__idiom {
    text-align: center;
    display: contents;
    white-space: pre-line;
  }

  .decorated-zone::before {
    top: 10px;
    left: 340px;
  }

  .header {
    min-height: 668px;
  }

  .header__theme-menu {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding: 10px 10px 0 10px;
  }

  .header__theme-menu::after {
    top: 633px;
    left: 10px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 56px;
  }

  .header__theme-menu-button {
    margin-block-start: 10px;
  }

  .content__quiestion {
    padding-inline: 10px;
    padding-block-start: 40px;
    display: block;
  }

  .hard__concentrate-questuion__multidoph {
    margin-block-start: 20px;
  }

  .hard__concentrate-content {
    max-height: 398px;
  }

  .content__quiestion {
    max-height: none;
  }

  .decreased__attention__table {
    display: block;
  }

  .decreased__attention-question {
    padding-block-start: 10px;
  }

  .title__decor-decreased {
    margin-block: 20px 10px;
  }

  .content__advice {
    display: block;
    margin-inline: 10px;
  }

  .advice__simple-better {
    margin-block: 50px 20px;
  }

  .content__images {
    margin-top: 50px;
  }

  .content__images-pictures {
    margin-inline: 10px;

  }

  .content__images-pics {
    display: block;
    padding-inline: 10px;
    max-height: 1400px;
  }

  .images__sunset {
    width: 355px;
    height: 142px;
  }

  .images__ice {
    width: 355px;
    height: 355px;
  }

  .images__books {
    width: 355px;
    height: 355px;
  }

  .images__tape {
    width: 355px;
    height: 237px;
  }

  .images__street {
    width: 355px;
    height: 237px;
  }

  .content__footer {
    background-color: var(--bg-color);
    max-width: 375px;
  }

  .content__footer::before {
    top: 10px;
    left: 340px;
    margin-block-start: 40px;
  }

  .content__footer::after {
    top: 632px;
    left: 10px;
  }

  .ending {
    font-size: 116px;
    text-align: center;
    padding: 0;
    padding-block: 286px;
  }
}