:root {
  --accent-color: #ff0070;
  --primary-color:#DB00FF;
  --text-color: #F1B2CE;
  --font-size-base: 18px;
  --font-main: "IBM Plex Mono", sans-serif;

}/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
